<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.vanilla.driver.CPUFriendDataProvider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CPUFriendDataProvider</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CPUFriendDataProvider</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleACPIPlatform</string>
			<key>IOClass</key>
			<string>AppleACPICPU</string>
			<key>IONameMatch</key>
			<string>processor</string>
			<key>IOProbeScore</key>
			<integer>1100</integer>
			<key>IOProviderClass</key>
			<string>IOACPIPlatformDevice</string>
			<key>cf-frequency-data</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4K
			PCFET0NUWVBFIHBsaXN0IFBVQkxJQyAiLS8vQXBwbGUgQ29tcHV0
			ZXIvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3dy5hcHBs
			ZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlz
			dCB2ZXJzaW9uPSIxLjAiPgogIDxkaWN0PgogICAgPGtleT5wbXNw
			RmlsZTwva2V5PgogICAgPGludGVnZXI+MjwvaW50ZWdlcj4KICAg
			IDxrZXk+SU9QbGF0Zm9ybVBvd2VyUHJvZmlsZTwva2V5PgogICAg
			PGRpY3Q+CiAgICAgIDxrZXk+QXV0b1Bvd2VyT2ZmPC9rZXk+CiAg
			ICAgIDx0cnVlLz4KICAgICAgPGtleT5lbmFibGVyPC9rZXk+CiAg
			ICAgIDx0cnVlLz4KICAgICAgPGtleT5BR1BNPC9rZXk+CiAgICAg
			IDx0cnVlLz4KICAgICAgPGtleT5BU1BNPC9rZXk+CiAgICAgIDx0
			cnVlLz4KICAgICAgPGtleT5TdGFuZGJ5RGVsYXlIaWdoPC9rZXk+
			CiAgICAgIDxpbnRlZ2VyPjg2NDAwPC9pbnRlZ2VyPgogICAgICA8
			a2V5PlN0YW5kYnlEZWxheTwva2V5PgogICAgICA8aW50ZWdlcj44
			NjQwMDwvaW50ZWdlcj4KICAgICAgPGtleT5TdGFuZGJ5QmF0dGVy
			eVRocmVzaG9sZDwva2V5PgogICAgICA8aW50ZWdlcj41MDwvaW50
			ZWdlcj4KICAgICAgPGtleT5Qcm94aW1pdHlXYWtlPC9rZXk+CiAg
			ICAgIDxpbnRlZ2VyPjA8L2ludGVnZXI+CiAgICAgIDxrZXk+SU9Q
			bGF0Zm9ybVN5c3RlbVNsZWVwUG9saWN5PC9rZXk+CiAgICAgIDxk
			YXRhPlUweFFWQUlBRWdBQUdoSUFBQUFBQUFBRkFBQUFCUUFBQmdB
			QUFBQUFBQUFBSlFBQUFBQUFBQ0FBQUFBZ0FBQUFBQUFBQUFBQUFB
			QUYKQUFBQUFBQUFBQUFsQUFBQUFBQUFBQUFFQUFBQUJBQUFBQUFB
			QUFBQUFBWUFBQUFBQUFBQUFDVUFBQUFBQUFBQUFBRUFBQUFCQUFB
			QQpBQUFBQUFBQUJBQUFBQUFBQUFBQUFRQUFBQUFBQUVBYUVnQUFB
			QUFBR0FFQUFCZ0JBQUFGQUFBQUFnQUFBQUF0QUFBQUFBQUFRQUlB
			CkFBQUFBQUFZQUFBQUdBQUFBQVVBQUFBQUFBQUFBQ1VBQUFBQUFB
			QkFHaElBQUFBQUFDZ0JBQUFnQVFBQUJRQUFBQUlBQUFBQUxRQUEK
			QUFBQUFFQUNBQUFBQUFBQUtBQUFBQ0FBQUFBRkFBQUFBQUFBQUFB
			bEFBQUFBQUFBVUJvU0FCQUFBQUFBQVFBQUFBRUFBQVVBQUFBQwpB
			QUFBQUMwQUFBQUFBQUJRQWdBQUVBQUFBQUFBQUFBQUFBQUFCUUFB
			QUFBQUFBQUFKUUFBQUFBQUFBQWFFZ0FBQUFBQUFBa0FBQUFKCkFB
			QUdBQUFBQUFBQUFBQWxBQUFBQUFBQUFCb1NBQUFBQUFBSUFRQUFD
			QUVBQUFZQUFBQUFBQUFBQUNVQUFBQUFBQUFBR2hJQUFBQUEKQUVB
			QkFBQkFBUUFBQmdBQUFBQUFBQUFBSlFBQUFBQUFBRUFhRWdCQUFB
			QUFCZ0VBQUFZQkFBQURBQUFBQWdBQUFBQXBBQUFBQUFBQQpRQm9T
			QUVBQUFBQUFBUUFBQUFFQUFBSUFBQUFDQUFBQUFDa0FBQUFBQUFC
			QUFnQUFBQUFBQUFBQUFBQUFBQUFBQWdBQUFBRUFBQUFBCktRQUFB
			QUFBQUVBQUFBQkFBQUFBQmdBQUFBWUFBQUFEQUFBQUFBQUFBQUFo
			QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBSUEKQUFBQUFB
			QUFBQ0VBQUFBQUFBQT08L2RhdGE+CiAgICAgIDxrZXk+cmluZ0Zy
			ZXFUYWJsZXM8L2tleT4KICAgICAgPGFycmF5PgogICAgICAgIDxh
			cnJheT4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5
			Pmd0RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj43MDA8
			L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tl
			eT4KICAgICAgICAgICAgPGludGVnZXI+MTEwMDwvaW50ZWdlcj4K
			ICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDxkaWN0PgogICAg
			ICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICA8
			aW50ZWdlcj43NTA8L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+
			cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgPGludGVnZXI+MTEw
			MDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4KICAgICAgICAg
			IDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5Pgog
			ICAgICAgICAgICA8aW50ZWdlcj44MDA8L2ludGVnZXI+CiAgICAg
			ICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAg
			PGludGVnZXI+MTIwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGlj
			dD4KICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0
			RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj44NTA8L2lu
			dGVnZXI+CiAgICAgICAgICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4K
			ICAgICAgICAgICAgPGludGVnZXI+MTMwMDwvaW50ZWdlcj4KICAg
			ICAgICAgIDwvZGljdD4KICAgICAgICAgIDxkaWN0PgogICAgICAg
			ICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAgICAgICAgICA8aW50
			ZWdlcj45MDA8L2ludGVnZXI+CiAgICAgICAgICAgIDxrZXk+cmlu
			Z0ZyZXE8L2tleT4KICAgICAgICAgICAgPGludGVnZXI+MTYwMDwv
			aW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4KICAgICAgICAgIDxk
			aWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJlcTwva2V5PgogICAg
			ICAgICAgICA8aW50ZWdlcj45NTA8L2ludGVnZXI+CiAgICAgICAg
			ICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgPGlu
			dGVnZXI+MTcwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4K
			ICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJl
			cTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xMDAwPC9pbnRl
			Z2VyPgogICAgICAgICAgICA8a2V5PnJpbmdGcmVxPC9rZXk+CiAg
			ICAgICAgICAgIDxpbnRlZ2VyPjE4MDA8L2ludGVnZXI+CiAgICAg
			ICAgICA8L2RpY3Q+CiAgICAgICAgICA8ZGljdD4KICAgICAgICAg
			ICAgPGtleT5ndEZyZXE8L2tleT4KICAgICAgICAgICAgPGludGVn
			ZXI+MTA1MDwvaW50ZWdlcj4KICAgICAgICAgICAgPGtleT5yaW5n
			RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xOTAwPC9p
			bnRlZ2VyPgogICAgICAgICAgPC9kaWN0PgogICAgICAgICAgPGRp
			Y3Q+CiAgICAgICAgICAgIDxrZXk+Z3RGcmVxPC9rZXk+CiAgICAg
			ICAgICAgIDxpbnRlZ2VyPjExMDA8L2ludGVnZXI+CiAgICAgICAg
			ICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgPGlu
			dGVnZXI+MjAwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4K
			ICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJl
			cTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xMTUwPC9pbnRl
			Z2VyPgogICAgICAgICAgICA8a2V5PnJpbmdGcmVxPC9rZXk+CiAg
			ICAgICAgICAgIDxpbnRlZ2VyPjIxMDA8L2ludGVnZXI+CiAgICAg
			ICAgICA8L2RpY3Q+CiAgICAgICAgICA8ZGljdD4KICAgICAgICAg
			ICAgPGtleT5ndEZyZXE8L2tleT4KICAgICAgICAgICAgPGludGVn
			ZXI+MTIwMDwvaW50ZWdlcj4KICAgICAgICAgICAgPGtleT5yaW5n
			RnJlcTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4yMjAwPC9p
			bnRlZ2VyPgogICAgICAgICAgPC9kaWN0PgogICAgICAgICAgPGRp
			Y3Q+CiAgICAgICAgICAgIDxrZXk+Z3RGcmVxPC9rZXk+CiAgICAg
			ICAgICAgIDxpbnRlZ2VyPjEyNTA8L2ludGVnZXI+CiAgICAgICAg
			ICAgIDxrZXk+cmluZ0ZyZXE8L2tleT4KICAgICAgICAgICAgPGlu
			dGVnZXI+MjMwMDwvaW50ZWdlcj4KICAgICAgICAgIDwvZGljdD4K
			ICAgICAgICAgIDxkaWN0PgogICAgICAgICAgICA8a2V5Pmd0RnJl
			cTwva2V5PgogICAgICAgICAgICA8aW50ZWdlcj4xMzAwPC9pbnRl
			Z2VyPgogICAgICAgICAgICA8a2V5PnJpbmdGcmVxPC9rZXk+CiAg
			ICAgICAgICAgIDxpbnRlZ2VyPjIzMDA8L2ludGVnZXI+CiAgICAg
			ICAgICA8L2RpY3Q+CiAgICAgICAgPC9hcnJheT4KICAgICAgPC9h
			cnJheT4KICAgICAgPGtleT5TdGVwQ29udGV4dERpY3Q8L2tleT4K
			ICAgICAgPGRpY3Q+CiAgICAgICAgPGtleT5Ob3JtYWw8L2tleT4K
			ICAgICAgICA8ZGF0YT4KRUFvQUFBQUFBUUlFQUFBQ0FnQUFiZ0J2
			QUhJQWJRQTFBRzBBY3d3QUFBRUNBQWYvQndBQVBBQUFBQjBFQUFB
			Q0FJRUFjQUJ6QUhRQQpZUUIwQUdVQWN3b0FBQVlEQUFDQUFHMEFh
			UUJ1QUhBQWN3QjBBR0VBZEFCbERRQUFnQUJ0QUc0QWRBQndBSE1B
			ZEFCaEFIUUFaUTBBCkFJQUFiZ0J3QUhNQWRBQmhBSFFBWlFCei93
			RC9BUDhBL3dEL0FMSUFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEEKQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93
			QUxEd0FBL3dFQQpBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFE
			L3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBCi93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC9B
			UUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQv
			QVFBRC93QUwKRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUEFB
			RC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BB
			QUQvQVFBRAovd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAvQUFz
			UEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FB
			c1BBQUQvCkFRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQ
			L0FBc1AKQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJB
			QVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFBUDhC
			QUFQLwpBQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQ
			OEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3OEFB
			UDhCCkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QUN3
			OEEKQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84
			QQpDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzS0FBQUJDZ0FBWkFBQUFBVUlBQUFC
			CkFBQUYvd0FCQUFBQUFRQUFBQUVHQUFCbEFBQUFEZ2dBQUFJQUFB
			WC9BQUVBQUFBQ0FBQUFBZ1lBQUdRQUFBQUZBQUFBQWdZQUFBTUEK
			QUFYL0FBRUFBQUFEQUFBQUF3WUFBR1FBQUFBREFBQUFBZ1lBQUFR
			QUFBWC9BQUVBQUFBRUFBQUFCQVlBQUdrS0FBQUZBQUFGL3dBQgpB
			QUFBQlFBQUFBVUdBQUJsQUFBQURnUUFBQUVDQUFBR0FBQUYvd0FC
			QUFBQUJnQUFBQVlHQUFCa0FBQUFBd0FBQUFJR0FBQUhBQUFGCi93
			QUJBQUFBQndBQUFBY0dBQUJsQUFBQURnUUFBQUlDQUFBSUFBQUYv
			d0FCQUFBQUNBQUFBQWdHQUFCa0FBQUFCUUFBQUFRR0FBQUoKQUFB
			Ri93QUJBQUFBQ1FBQUFBa0dBQUJrQUFBQUF3QUFBQUlHQUFBS0FB
			QUYvd0FCQUFBQUNnQUFBQW9HQUFCa0FBQUFBd0FBQUFNRwpBQUFM
			QUFBRi93QUJBQUFBQ3dBQUFBc0dBQUJuQ2dBQURBQUFCZjhBQVFB
			QUFBd0FBQUFNQmdBQWFRb0FBQTBBQUFYL0FBRUFBQUFOCkFBQUFE
			UVlBQUdRQUFBQURBQUFBQWdZQUFBNEFBQVgvQUFFQUFBQU9BQUFB
			RGdZQUFHWUtBQUFQQUFBRi93QUJBQUFBRHdBQUFBOEcKQUFCbEFB
			QUFEZ1FBQUFNQ0FBQVFBQUFGL3dBQkFBQUFFQUFBQUJBR0FBQmtB
			QUFBQlFBQUFBSUdBQUFSQUFBRi93QUJBQUFBRVFBQQpBQkVHQUFC
			a0FBQUFBd0FBQUFJR0FBQVNBQUFGL3dBQkFBQUFFZ0FBQUJJR0FB
			QmtBQUFBQXdBQUFBTUdBQUFUQUFBRi93QUJBQUFBCkV3QUFBQk1H
			QUFCbkNnQUFGQUFBQmY4QUFRQUFBQlFBQUFBVUJnQUFhUW9BQUJV
			QUFBWC9BQUVBQUFBVkFBQUFGUVlBQUdRQUFBQUQKQUFBQUFnWUFB
			QllBQUFYL0FBRUFBQUFXQUFBQUZnWUFBR1lLQUFBWEFBQUYvd0FC
			QUFBQUZ3QUFBQmNHQUFCbEFBQUFEZ1FBQUFRQwpBQUFZQUFBRi93
			QUJBQUFBR0FBQUFCZ0dBQUJrQUFBQUF3QUFBQUVHQUFBWkFBQUYv
			d0FCQUFBQUdRQUFBQmtHQUFCbEFBQUFEZ1FBCkFBVUNBQUFhQUFB
			Ri93QUJBQUFBR2dBQUFCb0dBQUFQQUNjSkFBQWJBQUFGL3dBQ0Fn
			QUFHd1lBQUFFQUFBQU9CQUFBQlFJQUFCd0EKQUFYL0FBSUFBQUFC
			QUFBQUhBWUFBQUlBQUFBRUFRQUFnQUREQUxjQUxnQTBBQXNBQUFB
			ZEFBQUFIQUFBQUJ3QUFBQWRBQUFBQXdJQQpBQjBHQUFBQkFBQUFE
			Z1FBQUFVQ0FBQWVBQUFGL3dBRUFnQUFIZ1lBQUFrQUFBQUVBQUFB
			eUFZQUFCOEFBQVgvQUFRQUFBQUJBQUFBCkh3UUFBSUFBQUFBS0Nn
			QUFJd0FBQUNBQUFBQWpBQUFBSUFBQUFBUUFBQUFDQUFBQUlBWUFB
			QWNBQUFBQkFBQUE5UUFCQlFBQUlRQUEKQmY4QUJBQUFBQU1BQUFB
			aEJnQUFBZ0FBQUFRQUFBQ2dBQThGQUFBaUFBQUFHd0FBQUJzQUFB
			QWlBQUFBQkFBQUFBUUFBQUFpQmdBQQpDQW9BQUI0QUFBWC9BQVVD
			QUFBakJnQUFBUUFBQUE0RUFBQUVBZ0FBSkFBQUJmOEFCZ0lBQUNR
			R0FBQUNBQUFBQkFBQUFKZ0FDQVVBCkFDZ0FBQUFsQUFBQUtBQUFB
			Q1VBQUFBR0FBQUFBUUFBQUNVR0FBQUhBQUFBQVFBQUFQVUFBUVVB
			QUNZQUFBWC9BQVlBQUFBQ0FBQUEKSmdZQUFBSUFBQUFFQUFBQW9B
			QVBCUUFBSndBQUFCc0FBQUFiQUFBQUp3QUFBQVlBQUFBREFBQUFK
			d1lBQUFnS0FBQWtBQUFGL3dBSApBZ0FBS0FZQUFBRUFBQUFPQkFB
			QUF3SUFBQ2tBQUFYL0FBZ0NBQUFwQmdBQUFnQUFBQVFBQUFEMkFB
			a0ZBQUF0QUFBQUtnQUFBQzBBCkFBQXFBQUFBQ0FBQUFBRUFBQUFx
			QmdBQUJ3QUFBQUVBQUFEMUFBRUZBQUFyQUFBRi93QUlBQUFBQWdB
			QUFDc0dBQUFDQUFBQUJBQUEKQUtBQUR3VUFBQ3dBQUFBYkFBQUFH
			d0FBQUN3QUFBQUlBQUFBQXdBQUFDd0dBQUFJQ2dBQUtRQUFCZjhB
			Q1FJQUFDMEdBQUFCQUFBQQpEZ1FBQUFJQ0FBQXVBQUFGL3dBS0Fn
			QUFMZ1lBQUFJQUFBQUVBQUFBNmdBTEJRQUFNZ0FBQUM4QUFBQXlB
			QUFBTHdBQUFBb0FBQUFCCkFBQUFMd1lBQUFjQUFBQUJBQUFBOVFB
			QkJRQUFNQUFBQmY4QUNnQUFBQUlBQUFBd0JnQUFBZ0FBQUFRQUFB
			Q2dBQThGQUFBeEFBQUEKR3dBQUFCc0FBQUF4QUFBQUNnQUFBQU1B
			QUFBeEJnQUFDQW9BQUM0QUFBWC9BQXNDQUFBeUJnQUFBUUFBQUE0
			RUFBQUJBZ0FBTXdBQQpCZjhBREFJQUFETUdBQUFDQUFBQUJBQUFB
			TlFBRndVQUFEY0FBQUEwQUFBQU53QUFBRFFBQUFBTUFBQUFBUUFB
			QURRR0FBQUhBQUFBCkFRQUFBUFVBQVFVQUFEVUFBQVgvQUF3QUFB
			QUNBQUFBTlFZQUFBSUFBQUFFQUFBQW9BQVBCUUFBTmdBQUFCc0FB
			QUFiQUFBQU5nQUEKQUF3QUFBQURBQUFBTmdZQUFBZ0tBQUF6QUFB
			Ri93QU5BZ0FBTndZQUFBRUFBQUFPQ0FBQU9BQUFCZjhBRGdJQUFE
			Z0dBQUFDQUFBQQpCQUVBQUlBQXd3QzNBQzRBTkFBTEFBQUFPQUFB
			QURrQUFBQTRBQUFBT1FBQUFBNEFBQUFCQUFBQU9RWUFBQWNBQUFB
			QkFBQUE5UUFCCkJRQUFPZ0FBQmY4QURnQUFBQUlBQUFBNkJnQUFB
			Z0FBQUFRQUFBQ2dBQThGQUFBN0FBQUFHd0FBQUJzQUFBQTdBQUFB
			RGdBQUFBTUEKQUFBN0JnQUFDQW9BQURnQUFBWC8KPC9kYXRhPgog
			ICAgICAgIDxrZXk+QmFja2dyb3VuZDwva2V5PgogICAgICAgIDxk
			YXRhPgo0Z1VBQUFBQUFRSUVBQUFCQWdBQVlnQnJBR2NBY2dCdUFH
			UUFjQUJsQVdZQVl3QnBBR1VBYmdCMEJBQUFBZ0lBQi84SEFBQVlB
			QUFBCkRRUUFBQUlBZ1FCaUFHY0FjQUJ6QUhRQVlRQjBBR1VBY3dn
			QUFBSURBQUNBQUcwQWFRQnVBSEFBY3dCMEFHRUFkQUJsRFFBQWdB
			QnQKQUc0QWRBQndBSE1BZEFCaEFIUUFaUTBBQUlBQWJnQndBSE1B
			ZEFCaEFIUUFaUUJ6L3dEL0FQOEEvd0QvQUxJQUFQOEJBQVAvQUFz
			UApBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9B
			QXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJBQVAv
			CkFBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFB
			UC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEIK
			QUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4
			QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QQpB
			UDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFDdzhB
			QVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBCkN3
			OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEvOEFD
			dzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUEKQS84
			QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dFQUEv
			OEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQQovd0VB
			QS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FBL3dF
			QUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMCkR3QUEv
			d0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxEd0FB
			L3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQKL3dBTER3
			QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFELwpBUUFEL3dB
			TER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFBRC93
			QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQCkFBRC9BUUFE
			L3dBTER3QUEvd0VBQS84QUN3OEFBUDhCQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC8KQUFzS0FBQUJD
			Z0FBWkFBQUFBVUFBQUFDQmdBQUFRQUFCZjhBQVFBQUFBRUFBQUFC
			QmdBQVpBQUFBQU1BQUFBQ0JnQUFBZ0FBQmY4QQpBUUFBQUFJQUFB
			QUNCZ0FBWkFBQUFBTUFBQUFEQmdBQUF3QUFCZjhBQVFBQUFBTUFB
			QUFEQmdBQVp3b0FBQVFBQUFYL0FBRUFBQUFFCkFBQUFCQVlBQUdr
			S0FBQUZBQUFGL3dBQkFBQUFCUUFBQUFVR0FBQmtBQUFBQXdBQUFB
			SUdBQUFHQUFBRi93QUJBQUFBQmdBQUFBWUcKQUFCbUNnQUFCd0FB
			QmY4QUFRQUFBQWNBQUFBSEJnQUFaUUFBQUE0SUFBQUlBQUFGL3dB
			QkFBQUFDQUFBQUFnR0FBQmtBQUFBQXdBQQpBQUVHQUFBSkFBQUYv
			d0FCQUFBQUNRQUFBQWtHQUFCbEFBQUFEZ1FBQUFFQ0FBQUtBQUFG
			L3dBQkFBQUFDZ0FBQUFvR0FBQVBBQ2NKCkFBQUxBQUFGL3dBQ0Fn
			QUFDd1lBQUFFQUFBQU9CQUFBQVFJQUFBd0FBQVgvQUFJQUFBQUJB
			QUFBREFZQUFBSUFBQUFFQVFBQWdBREQKQUxjQUxnQTBBQXNBQUFB
			TkFBQUFEQUFBQUF3QUFBQU5BQUFBQXdJQUFBMEdBQUFCQUFBQURn
			UUFBQUVDQUFBT0FBQUYvd0FFQWdBQQpEZ1lBQUFrQUFBQUVBQUFB
			eUFZQUFBOEFBQVgvQUFRQUFBQUJBQUFBRHdRQUFJQUFBQUFLQ2dB
			QUV3QUFBQkFBQUFBVEFBQUFFQUFBCkFBUUFBQUFDQUFBQUVBWUFB
			QWNBQUFBQkFBQUE5UUFCQlFBQUVRQUFCZjhBQkFBQUFBTUFBQUFS
			QmdBQUFnQUFBQVFBQUFESUJnQUEKRWdBQUFBc0FBQUFMQUFBQUVn
			QUFBQVFBQUFBRUFBQUFFZ1lBQUFnS0FBQU9BQUFGL3dBRkFnQUFF
			d1lBQUFFQUFBQU9DQUFBRkFBQQpCZjhBQmdJQUFCUUdBQUFDQUFB
			QUJBRUFBSUFBd3dDM0FDNEFOQUFMQUFBQUZBQUFBQlVBQUFBVUFB
			QUFGUUFBQUFZQUFBQUJBQUFBCkZRWUFBQWNBQUFBQkFBQUE5UUFC
			QlFBQUZnQUFCZjhBQmdBQUFBSUFBQUFXQmdBQUFnQUFBQVFBQUFE
			SUJnQUFGd0FBQUFzQUFBQUwKQUFBQUZ3QUFBQVlBQUFBREFBQUFG
			d1lBQUFnS0FBQVVBQUFGL3c9PQo8L2RhdGE+CiAgICAgICAgPGtl
			eT5SZWFsVGltZTwva2V5PgogICAgICAgIDxkYXRhPgpxZ1lBQUFB
			QUFRSUVBQUFEQWdBQWNnQjBBRE1BY3dCMEFHRUFkQUJsRHdBUC93
			QWZBQUFBRHdRQUFBSUFnUUJ5QUhRQWNBQnpBSFFBCllRQjBBR1VB
			Y3dnQUFBTURBQUNBQUcwQWFRQnVBSEFBY3dCMEFHRUFkQUJsRFFB
			QWdBQnRBRzRBZEFCd0FITUFkQUJoQUhRQVpRMEEKQUlBQWJnQndB
			SE1BZEFCaEFIUUFaUUJ6L3dEL0FQOEEvd0QvQUxJQUFQOEJBQVAv
			QUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBQS84QQpDdzhBQVA4QkFB
			UC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQOEJB
			QVAvQUFzUEFBRC9BUUFEL3dBTER3QUEvd0VBCkEvOEFDdzhBQVA4
			QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4QUFQ
			OEJBQVAvQUFzUEFBRC9BUUFEL3dBTER3QUEKL3dFQUEvOEFDdzhB
			QVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhBQ3c4
			QUFQOEJBQVAvQUFzUEFBRC9BUUFEL3dBTApEd0FBL3dFQUEvOEFD
			dzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFBLzhB
			Q3c4QUFQOEJBQVAvQUFzUEFBRC9BUUFECi93QUxEd0FBL3dFQUEv
			OEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93RUFB
			LzhBQ3c4QUFQOEJBQVAvQUFzUEFBRC8KQVFBRC93QUxEd0FBL3dF
			QUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdBQS93
			RUFBLzhBQ3c4QUFQOEJBQVAvQUFzUApBQUQvQVFBRC93QUxEd0FB
			L3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FMRHdB
			QS93RUFBLzhBQ3c4QUFQOEJBQVAvCkFBc1BBQUQvQVFBRC93QUxE
			d0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQvd0FM
			RHdBQS93RUFBLzhBQ3c4QUFQOEIKQUFQL0FBc1BBQUQvQVFBRC93
			QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FRQUQv
			d0FMRHdBQS93RUFBLzhBQ3c4QQpBUDhCQUFQL0FBc1BBQUQvQVFB
			RC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNQQUFEL0FR
			QUQvd0FMRHdBQS93RUFBLzhBCkN3OEFBUDhCQUFQL0FBc1BBQUQv
			QVFBRC93QUxEd0FBL3dFQUEvOEFDdzhBQVA4QkFBUC9BQXNLQUFB
			QkNnQUFaQUFBQUFNQUFBQUMKQmdBQUFRQUFCZjhBQVFBQUFBRUFB
			QUFCQmdBQVpRQUFBQTRJQUFBQ0FBQUYvd0FCQUFBQUFnQUFBQUlH
			QUFCa0FBQUFCUUFBQUFJRwpBQUFEQUFBRi93QUJBQUFBQXdBQUFB
			TUdBQUJrQUFBQUF3QUFBQUlHQUFBRUFBQUYvd0FCQUFBQUJBQUFB
			QVFHQUFCa0FBQUFBd0FBCkFBTUdBQUFGQUFBRi93QUJBQUFBQlFB
			QUFBVUdBQUJuQ2dBQUJnQUFCZjhBQVFBQUFBWUFBQUFHQmdBQWFR
			b0FBQWNBQUFYL0FBRUEKQUFBSEFBQUFCd1lBQUdRQUFBQURBQUFB
			QWdZQUFBZ0FBQVgvQUFFQUFBQUlBQUFBQ0FZQUFHWUtBQUFKQUFB
			Ri93QUJBQUFBQ1FBQQpBQWtHQUFCbEFBQUFEZ1FBQUFFQ0FBQUtB
			QUFGL3dBQkFBQUFDZ0FBQUFvR0FBQmtBQUFBQXdBQUFBRUdBQUFM
			QUFBRi93QUJBQUFBCkN3QUFBQXNHQUFCbEFBQUFEZ1FBQUFJQ0FB
			QU1BQUFGL3dBQkFBQUFEQUFBQUF3R0FBQVBBQ2NKQUFBTkFBQUYv
			d0FDQWdBQURRWUEKQUFFQUFBQU9CQUFBQWdJQUFBNEFBQVgvQUFJ
			QUFBQUJBQUFBRGdZQUFBSUFBQUFFQVFBQWdBRERBTGNBTGdBMEFB
			c0FBQUFQQUFBQQpEZ0FBQUE0QUFBQVBBQUFBQXdJQUFBOEdBQUFC
			QUFBQURnUUFBQUlDQUFBUUFBQUYvd0FFQWdBQUVBWUFBQWtBQUFB
			RUFBQUF5QVlBCkFCRUFBQVgvQUFRQUFBQUJBQUFBRVFRQUFJQUFB
			QUFLQ2dBQUZRQUFBQklBQUFBVkFBQUFFZ0FBQUFRQUFBQUNBQUFB
			RWdZQUFBY0EKQUFBQkFBQUE5UUFCQlFBQUV3QUFCZjhBQkFBQUFB
			TUFBQUFUQmdBQUFnQUFBQVFBQUFESUJnQUFGQUFBQUEwQUFBQU5B
			QUFBRkFBQQpBQVFBQUFBRUFBQUFGQVlBQUFnS0FBQVFBQUFGL3dB
			RkFnQUFGUVlBQUFFQUFBQU9CQUFBQVFJQUFCWUFBQVgvQUFZQ0FB
			QVdCZ0FBCkFnQUFBQVFBQUFDUUFBRUZBQUFhQUFBQUZ3QUFBQm9B
			QUFBWEFBQUFCZ0FBQUFFQUFBQVhCZ0FBQndBQUFBRUFBQUQxQUFF
			RkFBQVkKQUFBRi93QUdBQUFBQWdBQUFCZ0dBQUFDQUFBQUJBQUFB
			TWdHQUFBWkFBQUFEUUFBQUEwQUFBQVpBQUFBQmdBQUFBTUFBQUFa
			QmdBQQpDQW9BQUJZQUFBWC9BQWNDQUFBYUJnQUFBUUFBQUE0SUFB
			QWJBQUFGL3dBSUFnQUFHd1lBQUFJQUFBQUVBUUFBZ0FEREFMY0FM
			Z0EwCkFBc0FBQUFiQUFBQUhBQUFBQnNBQUFBY0FBQUFDQUFBQUFF
			QUFBQWNCZ0FBQndBQUFBRUFBQUQxQUFFRkFBQWRBQUFGL3dBSUFB
			QUEKQWdBQUFCMEdBQUFDQUFBQUJBQUFBTWdHQUFBZUFBQUFEUUFB
			QUEwQUFBQWVBQUFBQ0FBQUFBTUFBQUFlQmdBQUNBb0FBQnNBQUFY
			Lwo8L2RhdGE+CiAgICAgIDwvZGljdD4KICAgICAgPGtleT5Vbmlm
			aWVkU2xlZXBTbGlkZXJQcmVmPC9rZXk+CiAgICAgIDx0cnVlLz4K
			ICAgICAgPGtleT5EYXJrV2FrZVNlcnZpY2VzPC9rZXk+CiAgICAg
			IDxkaWN0PgogICAgICAgIDxrZXk+RGFya1dha2VCYWNrZ3JvdW5k
			VGFza3M8L2tleT4KICAgICAgICA8aW50ZWdlcj4wPC9pbnRlZ2Vy
			PgogICAgICAgIDxrZXk+U2xlZXBTZXJ2aWNlczwva2V5PgogICAg
			ICAgIDxpbnRlZ2VyPjE8L2ludGVnZXI+CiAgICAgICAgPGtleT5T
			bGVlcFNlcnZpY2VzTW9kZXM8L2tleT4KICAgICAgICA8ZGljdD4K
			ICAgICAgICAgIDxrZXk+TW9kZUE8L2tleT4KICAgICAgICAgIDxk
			aWN0PgogICAgICAgICAgICA8a2V5PkV4cGlyYXRpb248L2tleT4K
			ICAgICAgICAgICAgPGludGVnZXI+MDwvaW50ZWdlcj4KICAgICAg
			ICAgICAgPGtleT5CYXR0ZXJ5Rmxvb3I8L2tleT4KICAgICAgICAg
			ICAgPGludGVnZXI+MDwvaW50ZWdlcj4KICAgICAgICAgICAgPGtl
			eT5CYXNlSW50ZXJ2YWxzPC9rZXk+CiAgICAgICAgICAgIDxkaWN0
			PgogICAgICAgICAgICAgIDxrZXk+QUM8L2tleT4KICAgICAgICAg
			ICAgICA8ZGljdD4KICAgICAgICAgICAgICAgIDxrZXk+QmFzZVNs
			ZWVwSW50ZXJ2YWw8L2tleT4KICAgICAgICAgICAgICAgIDxpbnRl
			Z2VyPjM2MDA8L2ludGVnZXI+CiAgICAgICAgICAgICAgICA8a2V5
			PkJhc2VXYWtlQ2FwSW50ZXJ2YWw8L2tleT4KICAgICAgICAgICAg
			ICAgIDxpbnRlZ2VyPjg2NDAwPC9pbnRlZ2VyPgogICAgICAgICAg
			ICAgIDwvZGljdD4KICAgICAgICAgICAgICA8a2V5PkJhdHRlcnk8
			L2tleT4KICAgICAgICAgICAgICA8ZGljdD4KICAgICAgICAgICAg
			ICAgIDxrZXk+QmFzZVNsZWVwSW50ZXJ2YWw8L2tleT4KICAgICAg
			ICAgICAgICAgIDxpbnRlZ2VyPjM2MDA8L2ludGVnZXI+CiAgICAg
			ICAgICAgICAgICA8a2V5PkJhc2VXYWtlQ2FwSW50ZXJ2YWw8L2tl
			eT4KICAgICAgICAgICAgICAgIDxpbnRlZ2VyPjE4MDwvaW50ZWdl
			cj4KICAgICAgICAgICAgICA8L2RpY3Q+CiAgICAgICAgICAgIDwv
			ZGljdD4KICAgICAgICAgIDwvZGljdD4KICAgICAgICA8L2RpY3Q+
			CiAgICAgIDwvZGljdD4KICAgIDwvZGljdD4KICA8L2RpY3Q+Cjwv
			cGxpc3Q+Cg==
			</data>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 - 2019 PMheart. All rights reserved.</string>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
